---

---

<!doctype html>
<html lang="zh-cn" data-theme="cupcake">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Not Found</title>
    </head>
    <body class="bg-gray-50">
        <div class="min-h-screen flex items-center justify-center">
            <div class="card">
                <figure>
                    <img class="h-81" src="/a_confused_person.svg" alt="404 not found">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">
                        404 不存在
                    </h2>
                    <p class="font">
                        你输入的网址并不存在，请确认是否有拼写错误！
                    </p>
                    <div class="mt-4 card-actions justify-center">
                        <a href="/" class="btn btn-primary btn-wide rounded-md">返回首页</a>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
